:root {
	--container-width: 1500px;
	--container-padding: 15px;


	--black:#1A1F16;
	--white:#ffffff;
	--grey:#60695C;
	--green:#12805D;
	--border-opacity:#1A1F1680;


	--bodyBG : #EDEDED;

	--OpenSans:  "Open Sans",  sans-serif;;

}
